@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .active {
        @apply text-red-400;
    }
}
.btn-card {
    @apply text-white bg-gradient-to-r from-secondary to-indigo border-none hover:bg-primary;
}
.btn-hero{
    @apply  bg-gradient-to-r from-secondary to-indigo border-none
}
html {
    /* @apply mt-16 */
}
.bg-waves{
    background-image: url('./assets/svg.png');
    background-size: cover;
    background-repeat: no-repeat;
}
